/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#page {
    width: 980px;
    margin: 0 auto;
}

#pageSub {
    width: 220px;
    float: left;
}

#pageBody {
    width: 720px;
    float: right;
}

#header {
    width: 860px;
    float: right;
}

.btn {
  background-color: #55acee;
  border: 2px solid #55acee;
  border-radius: 50px;
  color: #fff;
  padding:4px 32px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn:hover {
  background-color: #fff;
  color: #55acee;
}

ul {
  list-style: none;
}